@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@400;500&display=swap');
@import 'variables';

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";


$color1: #142850;
$color2: #27496D;
$color3: #00909E;
$color4: #DAE1E7;



$custom-colors: (
	"color1": $color1,
	"color2": $color2,
	"color3": $color3,
	"color4": $color4
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";
