$font-s-h: 18pt !default;
$font-s: 14pt !default;

$page-width: 210mm !default;
$page-height: 297mm !default;
$page-size: A4 !default;
$margin-page: 14mm !default;

$font-default: "TH Sarabun New", Arial, Helvetica, sans-serif !default;

body {
	font-family: $font-default;
	font-size: $font-s;
}

.pagebreak {
	font-family: $font-default;
	width: $page-width;
	height: $page-height;
	border: 1px solid #000;
	padding: $margin-page;
	margin: 10px auto;
	box-sizing: border-box;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.font-s {
	font-size: $font-s;
}

.font-s-h {
	font-size: $font-s-h;
}

@media print {
	@page {
		size: A4;
		margin: $margin-page;
	}

	body {
		// * print background-color
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
		background: none;
	}

	.pagebreak {
		width: auto;
		height: auto;
		page-break-after: always;
		border: none;
		padding: 0;
		margin: 0;

		:last-child {
			page-break-after: avoid;
		}
	}
}
